azure-core==1.30.2
azure-storage-blob==12.20.0
azure-storage-queue==12.10.0
blinker==1.8.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.8
dnspython==2.6.1
Flask==3.0.3
idna==3.7
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
msal==1.29.0
msal-extensions==1.2.0
portalocker==2.10.0
pycparser==2.22
pydub==0.25.1
PyJWT==2.8.0
pymongo==4.8.0
python-dotenv==1.0.1
pywin32==306
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
